<ion-content>
  <div class="header">
      <ion-button (click)="logout()" color="danger">
          <ion-icon name="log-out-outline">Se Deconnecter</ion-icon></ion-button>
    <img src="../../assets/img/profil.png" alt="profil" />
  </div>

  <div class="description">
    <div class="name">
        <h2>Axel Carandang</h2>
    </div>
    <div class="perso">
        <p>Attaquant</p>
        <p><ion-icon name="location-outline"></ion-icon> - Paris 17ème, France</p>
    </div>
    <div class="apropos">
      <h3>A propos de moi</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident animi delectus tempora iste illum odio repudiandae nisi labore reprehenderit voluptatum nam cupiditate neque odit tempore reiciendis, minus doloribus sed commodi consectetur rem? Beatae, voluptates aperiam!</p>
    </div>
    <div class="role">
      <h2>Rôle</h2>
      <span>Attaque</span>
      <span>Milieu</span>
      <span>Gardien</span>
    </div>
    <ion-button>Ajouter</ion-button>
  </div>
</ion-content>