ion-content {
    --ion-background-color:#3BD1B3;
}
ion-toolbar{
    background-color: #3BD1B3;
}

ion-list{
    margin-top: 200px;
    background-color: #3BD1B3;
}
ion-input{
    width: 100px;
    
}

ion-item{
    background-color: #3BD1B3;
}

ion-button{
    width: 341px;
}
h1 {
    text-align: center;
}
h5{
    text-align: center;
    font-size: 12px;
}
