<ion-content [fullscreen]="true">
  <h1>Connexion</h1>
  <h5>Veuillez vous connecter pour continuer à utiliser notre application.</h5>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button fill="solid" expand="block" color="primary" (click)="login()">Connexion</ion-button>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>

