<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="actu">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="match">
      <ion-icon name="football"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
