<ion-content>

  <div class="main">

    <div class="header">
      <div class="main-title"><h1>Fils d'actualités</h1></div>
      <div class="main-profil"><img src="../../assets/img/profil.png"></div>
    </div>

    <div class="search">
      <h3>Dernières annonces  proche de chez moi</h3>
      <hr>
      <div class="near">
        <div class="top">
          <img class="image_gauche" src="../../assets/img/Terrain 3.PNG" href="/tabs/search"/>
          <img class="image_droite" src="../../assets/img/Terrain 2.PNG" href="/tabs/search"/>
          <img class="image_gauche" src="../../assets/img/Terrain 3.PNG" href="/tabs/search"/>
        </div>

        <div class="bottom">
          <ion-button fill="solid" color="dark" href="/tabs/search" >Rechercher</ion-button>
        </div>

      </div><br>
      
      <div class="unread">
        <h3>Messages non lus</h3>
        <hr>

        <a href="/tabs/message">
          <div class="message">
            <div class="message-img"><img src="../../assets/img/img1@2x.png"></div>
            <div class="message-content">
              <span class="name">Maxime</span>
              <span class="time">55 min</span>
              <p>Rendez vous au stade comme</p>
            </div>
          </div>
        </a><br>

        <a href="/tabs/message">
          <div class="message">
            
            <div class="message-img"><img src="../../assets/img/profil2.png"></div>
            <div class="message-content">
              <span class="name">Axel</span>
              <span class="time">2 h</span>
              <p>Merci</p>
            </div>
          </div>
        </a>


      </div>

    </div>
  </div>


</ion-content>
