ion-content {
    --ion-background-color: #5BEADF!important;
}
p {
    text-align: center;
    font-size: 15px;
  }
p span.gauche {
    float: left;
  }
p span.droite {
    float: right;
  }
img{
    height: 80%;
    width: 55%;
}
.text{
    color: white;
}
.text1{
    font-size: 8px;
    color: white;
    margin-top: -55px;
    margin-left: 50px;
}

.container {
    display: flex;
    grid-template-columns: 100px 100px 100px;
    margin: 1em;
  }