<ion-content>  
  <ion-header>
    <div class="text">
      <p><span class="gauche">Message</span><span class="droite">Activités</span>Match</p>
    </div>
    
    </ion-header>
   <!--
  <div class="container horizontal">
    <div class="item"><img src="../../assets/img/img1@2x.png"></div>
    <div class="item"><h4>Maxime</h4></div>
    <div class="item"><p class="text1">Rendez vous au stade comme</p></div>
  -->
  <div class="container horizontal">
    <div><img src="../../assets/img/img1@2x.png"></div>
    <div class="text"><h3>Maxime</h3></div>  
  </div>
  <div class="text1"><p>Rendez vous au stade comme</p></div>
  
  <div class="container horizontal">
    <div><img src="../../assets/img/profil2.png"></div>
    <div class="text"><h3>Axel</h3></div>  
  </div>
  <div class="text1"><p>Merci</p></div>

  <div class="container horizontal">
    <div><img src="../../assets/img/profil3.png"></div>
    <div class="text"><h3>Allan</h3></div>  
  </div>
  <div class="text1"><p>Changement d'horaire à 13h</p></div>

  <div class="container horizontal">
    <div><img src="../../assets/img/profil4.png"></div>
    <div class="text"><h3>Louis</h3></div>  
  </div>
  <div class="text1"><p>On verra tkt</p></div>

  <div class="container horizontal">
    <div><img src="../../assets/img/profil5.png"></div>
    <div class="text"><h3>Steven</h3></div>  
  </div>
  <div class="text1"><p>T'était chaud ojd c'est cool</p></div>
    
 

</ion-content>
