ion-content {
    --ion-background-color: #5BEADF!important;
}
p {
    text-align: center;
    font-size: 15px;
  }
p span.gauche {
    float: left;
  }
p span.droite {
    float: right;
  }
img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.text{
    color: white;
}
.text1{
    font-size: 8px;
    color: white;
    margin-top: -55px;
    margin-left: 50px;
}

.container {
    display: flex;
    grid-template-columns: 100px 100px 100px;
    margin: 1em;
  }

  hr {
    border: 0.5px solid ;
    height: 1px !important;
    width: 100% !important;
    background: white !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 0.5 !important;
    visibility: visible !important;
  }