<ion-content>  

  <ion-card class='done'>
    <ion-card-title [style.color]="'black'">Plus de Match disponible</ion-card-title>
</ion-card>

  <ion-card *ngFor="let p of people">

    <img [src]="p.image" [style.width]="'100%'">

    <ion-card-header>
      <ion-card-title [style.color]="'black'"> {{p.name}} </ion-card-title>
    </ion-card-header>

  </ion-card>

  


  <div class="button_box">

    <ion-button  mode="ios" class="large_button" shape="round" fill="outline" >
      <ion-icon color="danger" name="close"></ion-icon>
    </ion-button>
    <div class="space"></div>
    <ion-button  mode="ios" class="large_button" shape="round" fill="outline">
      <ion-icon color="success" name="checkmark-outline"></ion-icon>
    </ion-button>

  </div> 
</ion-content>
