ion-content {
    --ion-background-color: #5BEADF!important;
}
ion-card{
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
width: 90%;
background-color: white;
}
.done{
  width: 50%;
  height: 10%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.btn{
    margin-top: 650px;
    display: flex;
    justify-content: center;
    margin-right: 150px;
}

.btn ion-button{
    width: 65px;
    margin-left: 140px;
    height: 65px;
}

.button_box {
    width: 90%;
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 5%;
    justify-content: center;
  }

  .large_button {
    font-size: 30px;
    --border-radius: 50%;
    --border-width: 8px;
    --border-color: #f3f3f3;
    --padding-start: 15px;
    --padding-end: 15px;
    margin-right: -10px;
    margin-left: -10px;
    --background-activated: #f3f3f3;
  }
  .space {
    width: 50px;
  }