<ion-content>
  <ion-card>
    <img src="../../assets/img/terrain1.png" />
    <ion-card-header>
      <ion-card-title>Match 6v6</ion-card-title>
      <ion-card-subtitle>Chartres 28000</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="card1">
    <img src="../../assets/img/terrain1.png" />
    <ion-card-header>
      <ion-card-title>Match 6v6</ion-card-title>
      <ion-card-subtitle>Chartres 28000</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="card2">
    <img src="../../assets/img/terrain1.png" />
    <ion-card-header>
      <ion-card-title>Match 6v6</ion-card-title>
      <ion-card-subtitle>Chartres 28000</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <div class="btn">
    <ion-button shape="round" color="medium">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button> 
    <ion-button shape="round" color="medium">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="profil">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="search">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="match">
    <ion-icon name="football"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="message">
    <ion-icon name="chatbubble"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>