<ion-content [fullscreen]="true">
  <h1>S'inscrire</h1>
  <h5>Veuillez vous inscrire pour entrer dans l’application.</h5>


  <div class="content">
      <ion-button shape="round" style="width: 300px;">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </ion-button>
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="password" [(ngModel)]="cpassword" placeholder="Confirm Password"></ion-input>
    </ion-item>
  </ion-list>
</div>

  <p>Vous avez déjà un compte?<a href="http://localhost:8100/login"> Connexion</a></p>
  <ion-button fill="solid" expand="block" color="primary" (click)="register()">Signup</ion-button>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
